@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* overflow-x: hidden; */
}

html {
    scroll-behavior: smooth !important;
}
  

.loaderparent {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #000;
    overflow-x: hidden;
    display: flex;
    align-items: center;
}

.loader {
    position: absolute;
    left: 45%;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    background: linear-gradient(45deg,transparent,transparent,40%,#e5f403);   
    animation: loading 2s linear infinite;
    box-shadow: inset 5px 5px 22px #479bcc, inset -5px -5px 22px #63d7ff;
}

@keyframes loading {
    0%{
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

.loader::before {
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: #000;
    border-radius: 50%;
    z-index: 1000;
}

.loader::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(45deg,transparent,transparent 40%,#e5f403);
    border-radius: 50%;
    z-index: 1000;
    z-index: 1;
    filter: blur(30px);
}

.hide {
    display: none!important;
}

#body {
    scroll-snap-type: both mandatory !important;
}

section {
    scroll-snap-align: start !important;
}

.banner header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    z-index: 10000;
    transition: 0.6s;
}

.banner header .logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: 0.6s;
    border: 2px solid #40c3ff;
    padding: 1px 25px 1px 10px;
    padding-right: 25px;
}

.banner header #toggle {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.banner header #toggle::before {
    content: '';
    position: absolute;
    top: 7px;
    width: 100%;
    height: 2px;
    background: #fff;

}

.banner header #toggle::after {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 100%;
    height: 2px;
    background: #fff;
    
}

.banner.active header #toggle::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
}

.banner.active header #toggle::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
}

.banner {
    position: relative;
    width: 100%!important;
    min-width: 100%!important;
    min-height: 100vh;
    padding: 100px;
    background-color: #000;
    /* background: url('./assets/bg.jpg'); */
    background-size: cover;
    display: flex;
    align-items: center;
    transition: 0.5s;
    z-index: 2;
}

.banner.active {
    transform: translateX(-30%);
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

#navigation {
    position: fixed;
    top: 0;
    right: -200px;
    width: 30%;
    height: 100vh;
    background: #40c3ff;
    z-index: 1;
    display: none;
    /* display: grid; */
    place-items: center;
    transition: 0.5s;
}

#navigation.active {
    right: 0;
    display: grid;
}

#navigation ul {
    position: relative;
    display: flex;
    flex-direction: column;
}

#navigation ul li {
    list-style: none;
}

#navigation ul li a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
}

.content {
    max-width: 600px;
}

.content h2 {
    color: #fff;
    font-size: 2.5em;
}

.content h2 span {
    color: #40c3ff;
    font-size: 1.2em;
}

.content h2 span:hover {
    background : linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 8s linear infinite;
}

@keyframes animate {
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}

.content p {
    font-size: 1.2em;
    color: #fff;
    font-weight: 300;
}

.content a {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    background: #fff;
    color: #000;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
}

.content a:hover {
    color: #255784;
    /* background: #2196f3; */
    box-shadow: 0 0 5px #2196f3,
                0 0 10px #2196f3,
                0 0 10px #2196f3;
    transition: 0.75s;
    transition-delay: 1s;
}

.content a span {
    position: absolute;
    display: block;
}

.content a span:nth-child(1) {
    top: -3px;
    left: 0%;
    width: 0%;
    height: 2px;
    background: repeating-linear-gradient(90deg,transparent,#2196f3);
}

.content a:hover span:nth-child(1) {
    width: 30%;
    left: 70%;
    transition: 0.5s;
}

.content a span:nth-child(3) {
    bottom: -3px;
    right: 0%;
    width: 0%;
    height: 2px;
    background: repeating-linear-gradient(270deg,transparent,#2196f3);
}

.content a:hover span:nth-child(3) {
    width: 30%;
    right: 70%;
    transition: 0.5s;
    transition-delay: 0.5s;
}

.content a span:nth-child(2) {
    top: 0px;
    right: -3px;
    width: 2px;
    height: 1%;
    background: repeating-linear-gradient(180deg,transparent,#2196f3);
}

.content a:hover span:nth-child(2) {
    height: 100%;
    transition: 0.5s;
    transition-delay: 0.25s;
}

.content a span:nth-child(4) {
    bottom: 0px;
    left: -3px;
    width: 2px;
    height: 1%;
    background: repeating-linear-gradient(360deg,transparent,#2196f3);
}

.content a:hover span:nth-child(4) {
    height: 100%;
    transition: 0.5s;
    transition-delay: 0.75s;
}


.sci {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 100px;
}

.sci li {
    list-style: none;
}

.sci li a {
    position: relative;
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    text-decoration: none;
    border: 1px solid #fff;
    margin: 10px 0 0;
}

.sci li a:hover {
    background: #fff;
}

.sci li a img {
    max-width: 20px;
    filter: invert(1);
    mix-blend-mode: difference;
}


.wrapper {
    display: flex;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.2);
}

.wrapperWord {
    font-size: 1em !important;
    color: #fff;
    font-weight: 300;
}

.wordList {
    overflow: hidden !important;
    height: 1.4em;
    margin-left: 0.5em;
}

.words {
    font-size: 1em !important;
    color: #fff;
    font-weight: 300;
    display: block;
    animation: spin_words 4s infinite;
}

@keyframes spin_words {
    5% {
        transform: translateY(-12%);
    }
    25% {
        transform: translateY(-0%);
    }
    45% {
        transform: translateY(-112%);
    }
    55% {
        transform: translateY(-100%);
    }
    65% {
        transform: translateY(-212%);
    }
    75% {
        transform: translateY(-200%);
    }
    85% {
        transform: translateY(-312%);
    }
    100% {
        transform: translateY(-300%);
    }
}



/* ABOUT ME  */
.secondarypage {
    position: relative;
    width: 100%;
    min-height: 100vh;
    /* padding: 5%; */
    padding: 100px;
    background-color: #000;
    background-size: cover;
    transition: 0.5s;
    z-index: 2;
}

.secondHeader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    z-index: 10000;
    transition: 0.6s;
}

.secondheadp {
    position: relative;
    color: #40c3ff;
    font-size: 2.5em;
    margin: auto;
    margin-bottom: 20px;
    text-transform: uppercase;
    min-width: 250px;
}

.maincontent{
    max-width: 1000px;
    margin: auto;
}

.aboutme h6 {
    margin-top: 10%;
    color: #fff;
    font-size: 1.2em;
    word-wrap: break-word;
}

.aboutme h6 span {
    color: #40c3ff;
    font-size: 1.2em;
}

.aboutme h6 span:hover , .workplace:hover {
    background : linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 8s linear infinite;
}

.aboutme p {
    font-size: 1.2em;
    color: #fff;
    font-weight: 300;
}

/* skills */

.skills p {
    margin-top: 10%;
    font-size: 1.2em;
    color: #fff;
    font-weight: 300;
}

.skills h5 {
    margin-top: 5%;
    color: #40c3ff;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
}

.skills div {
    display: flex;
    margin: auto;
    flex-direction: row;
    width: 80%!important;
}

.skills div div {
    display: flex;
    flex-direction: column;
}

.skillType {
    color: #40c3ff;
    font-size: 1.2em;
    text-transform: uppercase;
    /* text-align: center; */
}

.skillList li {
    color: #fff;
    list-style-type: none;
    padding: 0%;
    /* padding-left: 10%; */
}

.skillList {
    margin-top: 0px!important;
    margin-bottom: 0px!important;
}

.skillList:nth-child(2) {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0px!important;
    margin-bottom: 0px!important;
}

.dp {
    border-radius: 30%;
    width: 50%;
}

/* Work experience */

.works ul {
    margin-top: 10%;
    margin-left: 10%;
}
.works li {
    font-size: 1.5em;
    color: #fff;
    font-weight: 300;
    margin-bottom: 1em;
}

.workdate {
    padding: 1px 20px;
    border: 1px solid red;
    border-radius: 25px;
    float: left;
    width: 250px;
    margin-right: 15px;
}

.present {
    color: crimson;
}

.workplace {
    text-decoration: none!important;
    color: #40c3ff;
}

/* education */

.education {
    margin-left: 10%;
}
.education .firstdegree {
    margin-top: 10%;
    /* margin-left: 10%; */
}


.education li {
    font-size: 1.5em;
    color: #fff;
    font-weight: 300;
    margin-bottom: 1em;
    word-wrap: break-word;
}

.main2 {
    font-size: 1em;
}

.nodecor {
    text-decoration: none!important;
    color: #fff;
}

.education h5 {
    margin-top: 5%;
    color: #40c3ff;
    font-size: 1.2em;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: block;
}

@media (min-width: 1200px) {
    .loader {
        left: 45%;
    }
}

@media (max-width:992px){

    .loader {
        left: 40%;
    }

    .education div {
        margin-top: 5%;
        margin-bottom: 15%;
    }

}

@media (max-width:768px){

    .loader {
        left: 40%;
    }

    /* Home Page */
    .banner {
        padding: 100px 50px 150px;
    }

    .banner header {
        padding: 20px 50px;
    }
    
    .banner h2 {
        font-size: 1.8em;
    }

    .banner .content p,.banner .content a {
        font-size: 1em;
    }

    .banner.active {
        transform: translateX(-50%);
    }

    #navigation {
        width: 50%;
    }

    #navigation ul li a {
        font-size: 1.5em;
        margin: 5px 0;
    }

    .sci {
        position: absolute;
        bottom: 50px;
        right: inherit;
        flex-direction: row;
    }
    .sci li a {
        margin: initial;
        margin-right: 10px;
    }


    .skills div {
        width: auto;
        margin-left: 0;
        margin-right: 0;
    }

    .skillList:nth-child(2) {
        margin-left: 10%;
        margin-right: 10%;
    }

    .education div {
        margin-top: 5%;
        margin-bottom: 15%;
    }

}

@media (max-width:576px){

    .loader {
        left: 30%;
    }

    /* Home Page */
    .banner {
        padding: 100px 50px 150px;
    }

    .banner header {
        padding: 10%;
    }
    
    .banner h2 {
        font-size: 1.8em;
    }
    .banner .content p,.banner .content a {
        font-size: 1em;
    }

    .banner.active {
        transform: translateX(-70%);
    }

    #navigation {
        width: 70%;
    }

    .secondarypage {
        padding: 80px 20px 100px;
    }

    .secondHeader {
        padding: 20px 50px;
        font-size: 1em;
    }

    .secondheadp {
        font-size: 1.8em;
        margin-bottom: 1px;
    }

    .maincontent {
        margin-top: -60px;
    }

    /* About Page */

    .aboutme {
        margin-left: 1%;
        margin-right: 1%;
    }

    .aboutme h6 {
        /* margin-top: 5%; */
        margin-top: 8%;
        font-size: 1.2em;
    }

    .aboutme h6 span {
        font-size: 1em;
    }

    .aboutme p {
        font-size: 1em;
    }

    /* skills */

    .skills p {
        font-size: 1em;
    }

    .skills h5 {
        font-size: 1em;
    }

    .skills div {
        flex-direction: column;
        width: 100%!important;
        margin: auto;
    }

    .skillType {
        font-size: 1em;
        text-transform: capitalize;
    }
    
    .skillList {
        margin-bottom: 10%;
    }

    .skillList ul {
        display: inline;
        list-style: none;
        padding: 0px;
    }
    .skillList ul li {
        display: inline;
    }

    .skillList ul li::after {
        content: ", ";
    }

    .skillList ul li:last-child::after {
        content: "";
    }

    .skillList:nth-child(2) {
        margin: auto;
    }

    /* education */

    .education {
        margin-left: 1%;
        margin-right: 1%;
    }

    .education div {
        margin-bottom: 15%;
    }

    .education ul {
        margin-left: 1%;
        margin-right: 1%;
    }

    .education li {
        font-size: 1em;
        margin-bottom: 5%;
    }

    .education li>span {
        display: inline-block;
        margin-bottom: 1%;
    }

    .organisationdate {
        width: 200px;
        margin-right: 20px;
    }
    /* Work experience */

    .works ul {
        margin-top: 20%;
        margin-left: 1%;
        margin-right: 1%;
    }
    .works li {
        font-size: 1em;
        margin-bottom: 5%;
    }

    .language {
        margin-top: 50px;
    }

    .workdate {
        width: 200px;
        margin-right: 20px;
    }

    .works li>span {
        display: inline-block;
        margin-bottom: 1%;
    }
}

@media (max-width: 300px) {

    * { 
        overflow-x: hidden;
    }
    .loader {
        left: 20%;
    }
}